
 .m-calendar {
    display: inline-block;
}
.m-calendar table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
.m-calendar td {
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    color: blue;
    border: 1px solid ;
}
.m-calendar thead td {
    color: blue;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}
.m-calendar tbody td {
    color: #666666;
}
.m-calendar tbody td:hover {
    background: yellow;
    border-color: blanchedalmond;
    color: blue;
}
.m-calendar .current-day {
    color: blue;
    font-weight: bold;
}
.m-calendar .prev-month, .m-calendar .next-month {
    color: #999999;
}
.m-calendar .toolbar {
    line-height: 30px;
    color: blue;
    text-align: center;
    margin-bottom: 13px;
}
.m-calendar .toolbar button {
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    border: 1px solid ;
    border-radius: 50%;
    background: white;
    font-size: 20px;
    padding: 0;
    text-align: center;
    outline: 0;
    z-index: 5;
    cursor: pointer;
}
.m-calendar .toolbar .prev-month {
    float: left;
}
.m-calendar .toolbar .next-month {
    float: right;
}
.m-calendar .toolbar .current-date {
    color: blue;
}
